<template>
  <q-page class="flex flex-center">
    <img src="http://www.stickpng.com/assets/images/58f37720a4fa116215a9240f.png" alt="Rick and Morty" width='300px'>
    <form @submit.prevent='pedirPersonajes ()'>
      <q-select
        v-model="selectedEntity"
        float-label='Select content type'
        :options="entitySelectOptions"
        dark
      />
      <q-input v-model="query" dark />
      <q-btn label='Buscar' color='yellow-6' @on='pedirPersonajes ()'/>
      <div v-if='items.length > 0'>
        <q-card color='#97ce4c' v-for='(item,index) in items' :key='index' id='hola'>
          <q-card-title>
            {{ item.name }}
          </q-card-title>
          <q-card-separator></q-card-separator>
          <q-card-main>
            Status : {{ item.status }}
            <br>
            Especie : {{ item.species }}
            <br>
            Origen : {{ item.location.name }}
            <br>
          </q-card-main>
        </q-card>
      </div>
    </form>
  </q-page>
</template>

<style>
#hola{
  float: left;
}
body{
  background-image: url('https://images3.alphacoders.com/633/thumb-1920-633288.png');
}
.q-card-title, .q-card-subtitle{
color: black;
}
.q-card-main, .q-card-container{
  color: black;
}
.q-card{
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 1px transparent;
  text-align: center;
  margin-right: 5px;
  margin-top: 5px;
  height: 250px;
  width: 300px;
  background-color: green;
}
</style>

<script>
export default {
  data () {
    return {
      items: [],
      query: null,
      selectedEntity: 'character',
      entitySelectOptions: [
        {
          label: 'Personajes',
          value: 'character'
        },
        {
          label: 'Origen',
          value: 'location'
        },
        {
          label: 'Episodios',
          value: 'episode'
        }
      ]
    }
  },
  methods: {
    pedirPersonajes () {
      const entity = this.selectedEntity
      const query = this.query
      const url = 'https://rickandmortyapi.com/api/' + entity + '/?search=' + query
      this.$axios.get(url)
        .then((res) => {
          this.items = res.data.results
          console.log(res.data.results)
        })
        .catch((error) => {
          console.log('Algo malo pasó', error)
        })
    }
  }
}
</script>
